.notification {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.not-chat {
  background-color: $app-pink;
}

.not-discover {
  background-color: $app-green;
}

.not-wishlist {
  background-color: $app-ambar;
}
