.notification {
  min-height: 40px;
  min-width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 20px;
    width: 20px;
  }
}

.not-chat {
  background-color: $app-pink;
}

.not-discover {
  background-color: $app-green;
}

.not-wishlist {
  background-color: $app-ambar;
}
