.profile-card {
  background-color: white;
  border-radius: 44px;
  padding: 16px;

  p {
    margin: 0;
    font-size: 12px;
  }
}

.stats {
  background-color: $app-light-green;
  margin: 0 auto;
  width: 210px;
  border-radius: 40px;
  color: white;
  padding-right: 26px;
  bottom: -50px;

  .books-count {
    background-color: $app-green;
    padding: 16px 25px;
    border-radius: 40px;
  }
}
