// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// 1953
$app-gray: #fafafaee;
$app-rose: #FDE7E7;
$app-pink: #F2B4B4;
$app-ambar: #F9BD00;
$app-ambar-trans: #f9bd0072;
$app-light-green: #7ACCCE;
$app-green: #2CAEB1;
$app-dark: #06070D;

.app-green {
  color: $app-green;
}
