// Specific CSS for your home-page
body {
    background-color: #FFE5E5;
}

.home_img {
    max-width: 100%;
}

.logo {
    font-size: 4rem;
}

.tagline {
    font-size: 2rem;
}

.tagline-2 {
    font-size: 2rem;
}