// Specific CSS for your home-page
body {
    background-color: #FFE5E5;
}

.home_img {
    height: 50pc;
    width: 50pc;
}

.logo {
    font-size: 200px;
}

.tagline {
    font-size: 100px;
}

.tagline-2 {
    font-size: 50px;
}