.avatar-30 {
  width: 40px;
  border-radius: 50%;
}
.avatar-40 {
  width: 50px;
  border-radius: 50%;
}

.avatar-100{
  width: 100px;
  border-radius: 50%;
}

.avatar-140 {
  width: 140px;
  border-radius: 50%;
}
