.btn-green {
  color: white;
  padding: 8px 24px;
  border-radius: 24px;
  background-color: $app-green;
  transition: background 0.3s ease;
}

.btn-pink {
  color: white;
  padding: 8px 24px;
  border-radius: 24px;
  background-color: $app-pink;
  transition: background 0.3s ease;
}

.genre {
  color: white;
  padding: 4px 14px;
  border-radius: 18px;
  background-color: $app-pink;
  font-size: 11px;
}

.icon-primary {
  color: white;
  padding: 6px 11px;
  border-radius: 50%;
  background-color: $app-green;
  font-size: 18px;
}

.icon-secondary {
  color: white;
  padding: 4px 6px;
  border-radius: 50%;
  background-color: $app-ambar;
  font-size: 10px;
  text-align: center;
  width: 25px;
}