<div class="container d-flex flex-column justify-content-center align-items-center" style="height: 100vh">
  <%= image_tag "illustrations/wonder.png", class: "mb-3", style:"max-width: 100%"%>
  <h2>Oooops! Something went wrong</i></h2>
  <p>We'll work on that</p>

  <%= link_to "Take me back home", root_path, class: "btn btn-green" %>


</div>
