<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="container d-flex justify-content-center">
<%= cl_image_tag("https://res.cloudinary.com/dtoner522/image/upload/v1615911570/home-img_tc3hke.png", class: "home_img") %>
</div>