<div class="nav-top d-flex px-4 pt-4 justify-content-between align-items-center">
  <%= link_to '#' do %>
    <i class="fas fa-chevron-left"></i>
  <% end %>

  <h1>Add a book</h1>

  <%= link_to '#' do  %>
    <i class="fas fa-ellipsis-v"></i>
  <% end %>
</div>


<div class="container app-container">

  <div class="text-center d-flex my-4">
    <%= text_field_tag :query,
          params[:query],
          class: "form-control white-bar b-sh text-center",
          id: "search-autocomplete",
          placeholder: "Search title, author..."
        %>
  </div>

  <div id="results">
    <!-- HERE WOULD GO THE JS INJECTION -->
  </div>



  <div style="height: 150px;"></div>

  <div>
    <h2>Title of the book selected</h2>
    <p>Author of book</p>
    <p>1965</p>

    <div class="text-center d-flex my-4 mt-3 mx-4">
      <%= text_field_tag :query,
            params[:query],
            collection: ["Good estate", "bad condition"],
            class: "form-control white-bar b-sh text-center",
            placeholder: "Book condition V"
          %>
    </div>

      <!--     <form action="">
      <input type="collection">
      <input type="submit">
     </form> -->
  </div>

</div>
