.avatar-20 {
  height: 20px;
  border-radius: 50%;
}

.avatar-30 {
  height: 30px;
  border-radius: 50%;
}

.avatar-40 {
  height: 40px;
  border-radius: 50%;
}

.avatar-50 {
  height: 50px;
  border-radius: 50%;
}

.avatar-100{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.avatar-140 {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}
